<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Pixafy_CustomerLoginActivity::key1" title="Customer Visits" sortOrder="10">
                    <resource id="Pixafy_CustomerLoginActivity::key2" title="View Logs" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
